@font-face {
	font-family:"Roboto-Black";
	src: url("../fonts/bHb1QXRvBr78bu2XNI1xvw.woff2") format("woff2");
	src: url("../fonts/H1vB34nOKWXqzKotq25pcg.ttf") format("truetype");
	src: url("../fonts/B2hksaIOSu3m7Z45q1wLNg.svg") format("svg");
	src: url("../fonts/ZYoma4aXcynhuZmqBlHElg.eot") format("embedded-opentype");
	src: url("../fonts/1_sFLBJZ_MiiGcnkjN_Mgg.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}