@font-face {
	font-family:"Roboto-MediumItalic";
	src: url("../fonts/daIfzbEw-lbjMyv4rMUUTqCWcynf_cDxXwCLxiixG1c.ttf") format("truetype");
	src: url("../fonts/daIfzbEw-lbjMyv4rMUUTvY6323mHUZFJMgTvxaG2iE.eot") format("embedded-opentype");
	src: url("../fonts/daIfzbEw-lbjMyv4rMUUTj8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
	src: url("../fonts/daIfzbEw-lbjMyv4rMUUTltXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
	src: url("../fonts/daIfzbEw-lbjMyv4rMUUTpbd9NUM7myrQQz30yPaGQ4.svg") format("svg");
	font-weight: 500;
	font-style: italic;
}