@import './scss/roboto';

h1 {
    font-family: 'Roboto-Black';
}

.thin {
    font-family: 'Roboto-Thin';
}

.light {
    font-family: 'Roboto-Light';
}

.mediumitalic {
    font-family: 'Roboto-MediumItalic';
}

.black {
    font-family: 'Roboto-Black';
}